ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e6f7ff;
}